body, html {
    margin: 0;
    height: 90%;
    width: 100%;
    overflow: hidden;
}

body {
    background-image: url(https://file.coffee/u/IfP3qHYmQS0E1I.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}